/* Responsive CSS
=====================================================================*/
@media only screen and (min-width: 991px) and (max-width: 1199px) {
.menu_area {
  position: fixed;
  top: 0;
  height:40px;
}
.navbar-default {
  margin-top: -10px;
}
.site_title p {
  padding: 10px;
}
.col-xs-12.col-sm-12.col-lg-6.col-md-12 .address_part .copyright {


}

.countdown {
  margin-bottom: 80px;
	width: 83%;
}
.about_icon {
  width: 65%;
}
.about {
  padding: 60px 0 0;
}

}


@media only screen and (min-width: 768px) and (max-width: 990px) {
.menu_area {
  position: fixed;
  top: 0;
  height:40px;
}
.navbar-default {
  margin-top: -10px;
}
.site_title p {
  padding: 10px;
}
.countdown {
margin-bottom: 80px;
width: 100%;
}
.countdown_section {
  margin: 15px 20px auto;
}
.about_icon {
  width: 20%;
}
.about {
  padding: 60px 0 0;
}

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
.menu_area {
display:none;
}
.navbar-default {
  margin-top: -10px;
}
.site_title p {
  padding: 10px;
}
.countdown {
margin: 50px auto;
width: 90%;
}
.countdown_section {

  margin: 15px 20px auto;
  padding: 45px 12px;

  width: 170px;
}
.about_icon {
  width: 30%;
}
.about {
  padding: 60px 0 0;
}
.email_input_box {
  margin: 0 auto 30px;
  width: 87%;
}
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
.menu_area {
display:none;
}

.navbar-default {
  margin-top: -10px;
}
.site_title p {
  padding: 10px;
}
.countdown {
margin: 50px auto;
width: 60%;
}
.countdown_section {

  margin: 15px 20px auto;
  padding: 45px 12px;

  width: 170px;
}
.about_icon {
	width: 45%;
}
.about {
  padding: 60px 0 0;
}
.email_input_box {
  margin: 0 auto 30px;
  width: 87%;
}

}

@media (max-width: 319px) {
.menu_area {
display:none;
}
.site_title p {
  padding: 10px;
}
.navbar-default {
  margin-top: -10px;
}
.countdown {
margin: 50px auto;
width: 70%;
}
.countdown_section {
  margin: 15px 20px auto;
  padding: 45px 12px;
  width: 170px;
}
.about_icon {
	width: 50%;
}
.about {
  padding: 60px 0 0;
}
.email_input_box {
  margin: 0 auto 30px;
  width: 87%;
}
}
